<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538772791305-ri3oltq68jc49hi40qg3g47raqe27qhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538772791305-ri3oltq68jc49hi40qg3g47raqe27qhg</string>
	<key>API_KEY</key>
	<string>AIzaSyD0mMh8G8l7iESF-ftKLLZPcNxRJOIjjU8</string>
	<key>GCM_SENDER_ID</key>
	<string>538772791305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.srmBus</string>
	<key>PROJECT_ID</key>
	<string>srmbus-23b92</string>
	<key>STORAGE_BUCKET</key>
	<string>srmbus-23b92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538772791305:ios:fcf4275de2aa290c4358d8</string>
	<key>DATABASE_URL</key>
	<string>https://srmbus-23b92-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>